# This is movie recommendation system made by Dheeraj yadav for 
fial assignment on coursera deep learning , in this project , difflib is used for measuring difference between two values that how much closer, Tfidfvectorizer is used to change data into feature vector for cosine_similarity algorithm to making in condition of apply.  data shape was(1000,16) my favirote movie was avenger age of ultron , and most closet to it avengers series
the algorithm works basis on fearures like: cast in movie , title , director, genres.reverse = True is embeded in this program for arrangement in descending order on basis of closset value to required movie.

In [1]:
# Import Pandas
import pandas as pd
import numpy as np
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
df=pd.read_csv('Downloads/movies.csv')

In [2]:
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [3]:
df.shape

(1000, 16)

In [ ]:
df.columns

In [5]:
selected_features=['cast','keywords','director','genres','tagline','production_companies']
print(selected_features)

['cast', 'keywords', 'director', 'genres', 'tagline', 'production_companies']

In [7]:
df.isnull

<bound method DataFrame.isnull of       index     budget                                    genres  \
0         0  237000000  Action Adventure Fantasy Science Fiction
1         1  300000000                  Adventure Fantasy Action
2         2  245000000                    Action Adventure Crime
3         3  250000000               Action Crime Drama Thriller
4         4  260000000          Action Adventure Science Fiction
...     ...        ...                                       ...
4798   4798     220000                     Action Crime Thriller
4799   4799       9000                            Comedy Romance
4800   4800          0             Comedy Drama Romance TV Movie
4801   4801          0                                       NaN
4802   4802          0                               Documentary

                                               homepage      id  \
0                           http://www.avatarmovie.com/   19995
1          http://disney.go.com/disneypictures/pirates/     285
2           http://www.sonypictures.com/movies/spectre/  206647
3                    http://www.thedarkknightrises.com/   49026
4                  http://movies.disney.com/john-carter   49529
...                                                 ...     ...
4798                                                NaN    9367
4799                                                NaN   72766
4800  http://www.hallmarkchannel.com/signedsealeddel...  231617
4801                        http://shanghaicalling.com/  126186
4802                                                NaN   25975

                                               keywords original_language  \
0     culture clash future space war space colony so...                en
1     ocean drug abuse exotic island east india trad...                en
2            spy based on novel secret agent sequel mi6                en
3     dc comics crime fighter terrorist secret ident...                en
4     based on novel mars medallion space travel pri...                en
...                                                 ...               ...
4798  united states\u2013mexico barrier legs arms pa...                es
4799                                                NaN                en
4800  date love at first sight narration investigati...                en
4801                                                NaN                en
4802               obsession camcorder crush dream girl                en

                                original_title  \
0                                       Avatar
1     Pirates of the Caribbean: At World's End
2                                      Spectre
3                        The Dark Knight Rises
4                                  John Carter
...                                        ...
4798                               El Mariachi
4799                                 Newlyweds
4800                 Signed, Sealed, Delivered
4801                          Shanghai Calling
4802                         My Date with Drew

                                               overview  popularity  ...  \
0     In the 22nd century, a paraplegic Marine is di...  150.437577  ...
1     Captain Barbossa, long believed to be dead, ha...  139.082615  ...
2     A cryptic message from Bondâ€™s past sends him o...  107.376788  ...
3     Following the death of District Attorney Harve...  112.312950  ...
4     John Carter is a war-weary, former military ca...   43.926995  ...
...                                                 ...         ...  ...
4798  El Mariachi just wants to play his guitar and ...   14.269792  ...
4799  A newlywed couple's honeymoon is upended by th...    0.642552  ...
4800  "Signed, Sealed, Delivered" introduces a dedic...    1.444476  ...
4801  When ambitious New York attorney Sam is sent t...    0.857008  ...
4802  Ever since the second grade when he first saw ...    1.929883  ...

     runtime                                   spoken_languages    status  \
0      162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1      169.0           [{"iso_639_1": "en", "name": "English"}]  Released
2      148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3      165.0           [{"iso_639_1": "en", "name": "English"}]  Released
4      132.0           [{"iso_639_1": "en", "name": "English"}]  Released
...      ...                                                ...       ...
4798    81.0      [{"iso_639_1": "es", "name": "Espa\u00f1ol"}]  Released
4799    85.0                                                 []  Released
4800   120.0           [{"iso_639_1": "en", "name": "English"}]  Released
4801    98.0           [{"iso_639_1": "en", "name": "English"}]  Released
4802    90.0           [{"iso_639_1": "en", "name": "English"}]  Released

                                                tagline  \
0                           Enter the World of Pandora.
1        At the end of the world, the adventure begins.
2                                 A Plan No One Escapes
3                                       The Legend Ends
4                  Lost in our world, found in another.
...                                                 ...
4798  He didn't come looking for trouble, but troubl...
4799  A newlywed couple's honeymoon is upended by th...
4800                                                NaN
4801                           A New Yorker in Shanghai
4802                                                NaN

                                         title vote_average vote_count  \
0                                       Avatar          7.2      11800
1     Pirates of the Caribbean: At World's End          6.9       4500
2                                      Spectre          6.3       4466
3                        The Dark Knight Rises          7.6       9106
4                                  John Carter          6.1       2124
...                                        ...          ...        ...
4798                               El Mariachi          6.6        238
4799                                 Newlyweds          5.9          5
4800                 Signed, Sealed, Delivered          7.0          6
4801                          Shanghai Calling          5.7          7
4802                         My Date with Drew          6.3         16

                                                   cast  \
0     Sam Worthington Zoe Saldana Sigourney Weaver S...
1     Johnny Depp Orlando Bloom Keira Knightley Stel...
2     Daniel Craig Christoph Waltz L\u00e9a Seydoux ...
3     Christian Bale Michael Caine Gary Oldman Anne ...
4     Taylor Kitsch Lynn Collins Samantha Morton Wil...
...                                                 ...
4798  Carlos Gallardo Jaime de Hoyos Peter Marquardt...
4799  Edward Burns Kerry Bish\u00e9 Marsha Dietlein ...
4800  Eric Mabius Kristin Booth Crystal Lowe Geoff G...
4801  Daniel Henney Eliza Coupe Bill Paxton Alan Ruc...
4802  Drew Barrymore Brian Herzlinger Corey Feldman ...

                                                   crew           director
0     [{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...      James Cameron
1     [{'name': 'Dariusz Wolski', 'gender': 2, 'depa...     Gore Verbinski
2     [{'name': 'Thomas Newman', 'gender': 2, 'depar...         Sam Mendes
3     [{'name': 'Hans Zimmer', 'gender': 2, 'departm...  Christopher Nolan
4     [{'name': 'Andrew Stanton', 'gender': 2, 'depa...     Andrew Stanton
...                                                 ...                ...
4798  [{'name': 'Robert Rodriguez', 'gender': 0, 'de...   Robert Rodriguez
4799  [{'name': 'Edward Burns', 'gender': 2, 'depart...       Edward Burns
4800  [{'name': 'Carla Hetland', 'gender': 0, 'depar...        Scott Smith
4801  [{'name': 'Daniel Hsia', 'gender': 2, 'departm...        Daniel Hsia
4802  [{'name': 'Clark Peterson', 'gender': 2, 'depa...   Brian Herzlinger

[4803 rows x 24 columns]>

In [8]:
# replacining null value in null strings
for feature in selected_features:
    df[feature]= df[feature].fillna('')

In [9]:
#concatanation of all 6 required features
combined_features= df['cast']+' '+df['keywords']+' '+df['director']+' '+ df['genres']+' '+df['tagline']+' '+df['production_companies']

In [10]:
print('combined_features')

combined_features

In [11]:
print(combined_features)

0       Sam Worthington Zoe Saldana Sigourney Weaver S...
1       Johnny Depp Orlando Bloom Keira Knightley Stel...
2       Daniel Craig Christoph Waltz L\u00e9a Seydoux ...
3       Christian Bale Michael Caine Gary Oldman Anne ...
4       Taylor Kitsch Lynn Collins Samantha Morton Wil...
                              ...
4798    Carlos Gallardo Jaime de Hoyos Peter Marquardt...
4799    Edward Burns Kerry Bish\u00e9 Marsha Dietlein ...
4800    Eric Mabius Kristin Booth Crystal Lowe Geoff G...
4801    Daniel Henney Eliza Coupe Bill Paxton Alan Ruc...
4802    Drew Barrymore Brian Herzlinger Corey Feldman ...
Length: 4803, dtype: object

In [12]:
#convertin text data into feature vector aby using TfidfVectorizer
vectorizer= TfidfVectorizer()

In [13]:
vector_features= vectorizer.fit_transform(combined_features)

In [14]:
print(vector_features)

  (0, 3766)	0.2098540726862492
  (0, 15671)	0.2098540726862492
  (0, 3167)	0.1469810864824715
  (0, 10812)	0.127137864256118
  (0, 10407)	0.13590970318125783
  (0, 2447)	0.11113382625938133
  (0, 9084)	0.09497545729341002
  (0, 11736)	0.09497545729341002
  (0, 8217)	0.10812255702462105
  (0, 23573)	0.11017142211322992
  (0, 2330)	0.16590774124677626
  (0, 13714)	0.11750829981084292
  (0, 18660)	0.14437860475958111
  (0, 11434)	0.14021050132175555
  (0, 13889)	0.1594530532410294
  (0, 17656)	0.11750829981084292
  (0, 18554)	0.1867182733411117
  (0, 18172)	0.07408824361791565
  (0, 25090)	0.10611468011018776
  (0, 22975)	0.05658541518179166
  (0, 10806)	0.20199880122315814
  (0, 11395)	0.08703562276809243
  (0, 20998)	0.08688406609240634
  (0, 11210)	0.09333203773089045
  (0, 5330)	0.07577911746309499
  :	:
  (4802, 4903)	0.24173138507551534
  (4802, 13259)	0.4834627701510307
  (4802, 20587)	0.21651567578751438
  (4802, 11318)	0.1902206386546073
  (4802, 9323)	0.21651567578751438
  (4802, 9301)	0.21149830824997662
  (4802, 7853)	0.2035814896530272
  (4802, 15983)	0.18126523142443796
  (4802, 10414)	0.2035814896530272
  (4802, 12596)	0.18450654194178312
  (4802, 10137)	0.13046931304988524
  (4802, 6694)	0.17451962500639895
  (4802, 20312)	0.14389057973111788
  (4802, 6592)	0.16630529721489148
  (4802, 10320)	0.16543159423053905
  (4802, 9063)	0.18450654194178312
  (4802, 12288)	0.15260511599271737
  (4802, 10858)	0.135486680587423
  (4802, 7511)	0.2614235513947258
  (4802, 10303)	0.14162744216417986
  (4802, 18130)	0.15154654962180103
  (4802, 11481)	0.0595881064676829
  (4802, 10812)	0.06406700346694313
  (4802, 13714)	0.05921449676242766
  (4802, 17656)	0.05921449676242766

In [15]:
# now calculating similarity using cosine_similarity
similarity= cosine_similarity(vector_features)

In [16]:
similarity.shape

(4803, 4803)

In [ ]:
#input data from user
movie_name= input('Enter your movie name here:')

In [ ]:
list_of_titles= df['title'].tolist()
print(list_of_titles)

In [ ]:
#now finding close match value by using difflib
close_match= difflib.get_close_matches(movie_name, list_of_titles)

print(close_match)

In [ ]:
print(close_match)

In [ ]:
index_of_the_movie = df[df.title == close_match]['index'].values[0]
print(index_of_the_movie)

In [ ]:
#now finding similar movie on the base of index here ; enumarate is a loop in a list
similarity_score= list(enumerate(similarity[index_of_the_movie]))
print(similarity_score)

In [ ]:
len(similarity_score)

In [ ]:
#shorting movie according to their score of similarity,reverse=true will arrange in descending order according to their
#similarity 
#score
sorted_similar_movie=sorted(similarity_score,key= lambda x:x[1], reverse=True)
print(sorted_similarity_movie)